/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


#loadDatabase{
  -fx-background-radius: 22.0;
}
#back{
  -fx-background-radius: 18.0;
}
#backward{
  -fx-background-radius: 18.0;
}
#forward{
  -fx-background-radius: 18.0;
}
#upfront{
  -fx-background-radius: 18.0;
}


.table-view{
	-fx-background-color:transparent ;
}

.table-view:focused{
	-fx-background-color:transparent ;
}

.table-row-cell:odd{
	-fx-background-color:rgb(255.0,191.0,16.0);
}

.table-row-cell:even{
	-fx-background-color:rgb(83.0,225.0,255.0);
}

