/**
 * @author Nom: Balourdet, Prenom: Guillaume
 * @version 0.1
 * 
 *         Projet du 22 juin 2019 CNAM Implementation d'une application en Java
 *         que j'appelle 'Collection' servant à gérer les objets dans les Musées.
 * 
 *         Feuille CSS de l'application 'Collection'
 */

.jfx-hamburger StackPane {
	-fx-background-color: white;
}


#loadDatabase{
  -fx-background-radius: 10.0;
}
#browseImage{
  -fx-background-radius: 10.0;
}
#back{
  -fx-background-radius: 18.0;
}
#backward{
  -fx-background-radius: 18.0;
}
#forward{
  -fx-background-radius: 18.0;
}
#upfront{
  -fx-background-radius: 18.0;
}


.table-view{
	-fx-background-color:transparent ;
}

.table-view:focused{
	-fx-background-color:transparent ;
}

.table-row-cell:odd{
	-fx-background-color:rgb(255.0,191.0,16.0);
}

.table-row-cell:even{
	-fx-background-color:rgb(83.0,225.0,255.0);
}

